body {
  font-family: Pokemon, Cambria, Cochin, Georgia, Times, serif;
  padding-top: 120px;
  background-image: url("/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
